<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>REPASO</h1>
<img src="/static/images/iot.png" alt="user">
<h1>puerta</h><h id="sensor">--</h1>
<button id = 'LED1On'type="button" onclick="LED1_On();">
ABRIR_PUERTA!</button>
<button id = 'LED1Off' type="button" onclick="LED1_Off();">
CERRAR_PUERTA!</button>
</body>
</html>
